@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid hidden-xs hidden-sm" id="bgImage">
    <div>
        <h2>People Deliver Excellence</h2>
        <p>
            Connecting people to the successful place
        </p>
    </div>
</div>


<div class="visible-xs visible-sm">
   <img src="~/images/homePageStaffing.jpeg" style="width: 100%;" alt="" />
</div>

<div class="row bar" >

        <div class="col-sm-12 col-md-4"><a href="Login">Employees</a></div>
        <div class="col-sm-12 col-md-4"><a href="Login">Clients</a></div>
        <div class="col-sm-12 col-md-4"><a href="Login">Partners</a></div>

</div>


<section>
    <div class="row effortText">
        <h1>EFFORT WORKS</h1>
        
            <p>We know that operational excellence and project delivery provide an ever-broadening scope of challenges and opportunities. As the provider of HR solutions, EFFORT Staffing acquires top talent to effectively support both domestic and international operations. We're aware that traditional patterns of employment have evolved and will continue to do so; EFFORT works to stay ahead of the curve for you. We encourage present and future generations to see change as an opportunity! <a asp-controller="AboutUs" asp-action="Index">Learn about our method!</a></p>
        
</div>
</section>


    <div class="products">
        <h1>OUR PRODUCTS</h1>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <article>
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>SOURCING</h2>
                        </div>
                        <p>Our sourcing solutions are based on the EFFORT Talent Pipeline (ETP), a multiphase process that allows us to match the right personnel fit to an organization's culture, goals, and role requirements.</p>
                    </div>
                </article>
            </div>
            <div class="col-sm-12 col-md-4">
                <article>
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>HR CONSULTING</h2>
                        </div>
                        <p>Our HR Consulting services assist any organization in avoiding employment litigation by achieving-and maintaining-compliance within the entire spectrum of employment laws affecting the workplace.</p>
                    </div>
                </article>
            </div>
            <div class="col-sm-12 col-md-4">
                <article>
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>ASSURANCE</h2>
                        </div>
                        <p>Our Resource Assurance provides automated, non-intrusive quality checks, evaluation, and recommendations on job site personnel performance. This ensures optimal success – for the individual as well as the organization.</p>
                    </div>
                </article>
            </div>

        </div>

    </div>

<hr>