@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services";
}
<section>
    <div class="row intro">
        <h1>SERVICES</h1>
    </div>
</section>

<nav id="sectionHeaders">
    <div data-spy="affix" data-offset-top="255">
        <ul class="nav navbar-nav" id="sectionHeaders">
            <li>
                <a href="#publicService">Public Service</a>
            </li>
            <li>
                <a href="#sourcingSolutions">Sourcing Solutions</a>
            </li>
            <li>
                <a href="#hrConsulting">HR Consulting</a>
            </li>
            <li>
                <a href="#resourceAssurance">Resource Assurance</a>
            </li>
        </ul>
    </div>
</nav>

<div class="dropdown" data-spy="affix" data-offset-top="255">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
        Page Menu
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#publicService">Public Service</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#sourcingSolutions">Sourcing Solutions</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#hrConsulting">HR Consulting</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#resourceAssurance">Resource Assurance</a></li>
    </ul>
</div>

<section class="pageSections" id="publicService">
    <div class="row" role="banner">
        <h2>
            Public Service Staffing
        </h2>
    </div>
    <div class="container">
        <h3 style="text-align: center;">Capability Statement and Core Competencies</h3>

        <h4 style="text-align: center;">
            <strong>
                <em>
                    "We put People in their successful place"
                </em>
            </strong>
        </h4>
        <div class="thumbnail">
            EFFORT Staffing offers temporary contract staffing, contract to hire, permanent placements, and payroll services across the United States. We have strong capability and experience in project team solutions. We want to be a trusted partner in your success!
            </div>
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-4">
                        <div class="caption">
                            <h3 style="text-align: center;">Project Team Sourcing</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="caption">
                            <h3 style="text-align: center;">Talent Career Management</h3>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="caption">
                            <h3 style="text-align: center;">Full HR &amp; Payroll Solutions</h3>
                        </div>
                    </div>
                </div>
            </div>

        <div class="thumbnail">
            EFFORT Staffing recruits, retains, and delivers world-class professionals who are self-motivated, reliable, and competent. Our EFFORT Talent Pipeline Process insures skills, suitability, and aptitude along with the best cultural fit.
        </div>


        <div class="row">

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption2">
                        <h4 style="text-align: center;">Past Performance</h4>
                    </div>
                    <h4>Industries Served:</h4>
                    <ul style="padding: 0;">
                        <li>Energy</li>
                        <li>Government</li>
                        <li>Investigative/Criminal</li>
                        <li>Justice</li>
                        <li>Information Technology</li>
                        <li>Legal</li>
                        <li>Media</li>
                        <li>Manufacturing</li>
                        <li>Medical</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption2">
                        <h4 style="text-align: center;">Differentiators</h4>
                    </div>
                    <h4>Reaching Beyond:</h4>
                    <ul style="padding: 0;">
                        <li>Full HR &amp; Payroll Solutions</li>
                        <li>Project Staffing Solutions</li>
                        <li>Passive Candidate Search Strategies</li>
                        <li>Broad Industry Recruitment Experience</li>
                        <li>Specialized C-Suite Search Capabilities</li>
                        <li>Contingency Placement &amp; Resourcing</li>
                        <li>CLARITY Assurance© System</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption2">
                        <h4 style="text-align: center;">NAICS Codes:</h4>
                    </div>
                    <br />
                    <ul style="text-align: left">
                        <li><strong>561311</strong>: Employment placement agency</li>
                        <li><strong>561320</strong>: Temporary help services</li>
                        <li><strong>561330</strong>: Profession employer organizations</li>
                        <li><strong>541612</strong>: Human resource consulting services</li>
                        <li><strong>561312</strong>: Executive search services</li>
                        <li><strong>561210</strong>: Facility support services</li>
                        <li><strong>561110</strong>: Office administrative services</li>
                        <li><strong>541611</strong>: Administrative management and general management consulting services</li>
                    </ul>
                </div>
            </div>
        </div>



        <div>
            <img src="~/images/AdobeStock_85091079.jpeg" style="width:100%; padding-top: 41px;" />
        </div>
    </div>
</section>



<section class="pageSections" id="sourcingSolutions">
    <div class="row" role="banner">
        <h2>
            Sourcing Solutions
        </h2>
    </div>
    <div class="container">

    <div class="thumbnail">
        <div class="caption2">
            <h3>
                Sourcing Types
            </h3>
        </div>
        <br />
        <p>Our sourcing solutions are based on a multiphase process, EFFORT Talent Pipeline (ETP), that enables us to provide the Right Fit to match an organizations culture, role requirements and goals.</p>

        <div class="col-xs-12 col-md-6">
            <h4>Temporary / Contract</h4>
            <p>
                Revised: Temporary hires offer a flexible solution to organizations for last minute fill-ins, project teams, or peak seasons. EFFORT offers a wide range of technical and professional skill sets for temporary engagements.
            </p>
            <h4>Resource Process Outsourcing (RPO)</h4>
            <p>
                Resource Process Outsourcing (RPO) can step in as an organization's internal recruitment function for some or all of the required hires. This function improves a company's route to market, time to hire, quality of candidates, verifiable metrics, and compliance while assisting in overall cost reduction. EFFORT staffing can manage the entire recruiting and hiring process, from job profiling to on-boarding of new employees.
            </p>
            </div>
        <div class="col-xs-12 col-md-6">
            <h4>Contract (Temp-to-Hire)</h4>
            <p>
                Temp-to-hire allows an organization to assess potential employees before making a hiring commitment. This term can vary in length from the given estimate, depending on a variety of factors: the number of individuals needed, the level of demand for a specific skill set, and cost per hire to name a few.
            </p>

            <h4>Direct Placement</h4>
            <p>
                When an organization is interested in permanent talent, direct placement makes the most sense. EFFORT Staffing assumes the responsibility of advertising, screening, and testing potential employees. The most qualified candidates are presented to the organization for the final decision. After the position has been filled, EFFORT will follow up with the organization and the individual to confirm all parties are content with the arrangement.
            </p>
            
            
        </div>
    </div>
    <div class="thumbnail">
            <div class="caption2">
                <h3>
                    Competency Assessments
                </h3>
            </div>
        <br />
        <div class="col-xs-12 col-md-6">
            <h4>Communicate</h4>
            <p>
                The ability for a resource to effectively communicate with others.
            </p>

            <h4>Think</h4>
            <p>
                Excel in their cognitive skills.
            </p>

            <h4>Participate</h4>
            <p>
                Participate effectively alongside others to achieve some specific, shared common goal(s).
            </p>

            <h4>Organize</h4>
            <p>
                Organize in their professional role.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
            <h4>Influence</h4>
            <p>
                Successfully influence others.
            </p>

            <h4>Know</h4>
            <p>
                Model behavioral attributes, qualities, and abilities to be expected in each role.
            </p>

            <h4>Behave</h4>
            <p>
                Ensure the knowledge acquired over time will be applied in a professional capacity.
            </p>

            <h4>Do</h4>
            <p>
                Show their productive performance capability.
            </p>
        </div>
    </div>

    </div>
</section>
<br />
<br />

 <section class="pageSections" id="hrConsulting">

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-6" style="padding-bottom: 10px;">
                <div class="row" role="banner">
                    <h2>
                        HR Consulting
                    </h2>
                </div>
                <br />
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Human Resource Compliance</h3>
                    </div>
                    <ul>
                        <li>HR Compliance Audits</li>
                        <li>Affirmative Action Plan</li>
                        <li>Policy and Procedures Development and Implementation</li>
                        <li>Employee Relations and Compliant Investigation</li>
                        <li>Fair Labor Standards Act (FLSA) Audits</li>
                    </ul>
                </div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Performance Management</h3>
                    </div>
                    <ul>
                        <li>Training and Development</li>
                        <li>Succession PlanningSuccession planning is keeping the talent in your pipeline, and with today’s workforce trends, talent is critical for a successful organization.</li>
                    </ul>

                    <!--<div class="caption">
                <h3>
                    Compensation Analysis & Design
                </h3>
            </div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pageSections" id="resourceAssurance">
    <div class="row" role="banner">
        <h2>
            Resource Assurance
        </h2>
    </div>
    <div class="container">


        <p>
            Our Resource Assurance provides automated, non-intrusive quality checks, evaluation, and recommendations on job site personnel performance. This ensures optimal success – for the individual as well as the organization.
        </p>
    </div>
</section>
